html {
    font-size: 12px; /* Base font size */
 }
 
 body {
    height: 100vh;
    width: 100vw;
    background-color: black;/* Background color */
    font-family: 'Montserrat', sans-serif;/* Font family */
    color: white;/* Text color */
 }
 
 .container {
    box-sizing: border-box;
    height: 800px;
    width: 600px;
    margin: 0 auto;
    background-image: url(image.webp);/* Background image */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    background-color: hsl(206, 99%, 36%);/* Background color */
    text-align: center;
    text-transform: uppercase;
    padding: 3rem 3rem;
 }
 
 p {
    margin-bottom: .7rem;
    line-height: 1.2;
 }
 
 p > span {
    font-size: .6rem;/* Font size */
    position: relative;
    top: -.2rem;
 }
 
 p > span > span {
    text-transform: initial;
 }
 
 
 h1 {
    font-family: 'Rock Salt', cursive;/* Font family */
    color: yellow;/* Text color */
    font-size: 2.5rem;/* Font size */
    line-height: 1.3;
    transform: rotate(-10deg);
    margin: 2.5rem 0 1.1rem;
    position: relative;
    left: -3rem;
 }
 
 h1 > span:nth-of-type(2) {
    position: relative;
    left: 3.5rem;
 }
 
 h1 > span:nth-of-type(3) {
    position: relative;
    left: 7rem;
 }
 
 h1 > span > span {
    font-size: 3.6rem;/* Font size */
 }
 
 h2 {
    font-size: .9rem;/* Font size */
    font-weight: bold;/* Font weight */
 }
 
 h2 span {
    font-size: .4rem;/* Font size */
    font-weight: normal;/* Font weight */
    margin-right: 2px;
 }
 .watch-trailer-button {
   background-color: #0e0401; /* black color */
   color: white;
   border: none;
   padding: 10px 20px;
   font-size: 1rem;
   border-radius: 5px;
   cursor: pointer;
   margin-left: 20px;
   text-decoration: none; /* Remove underline from the link */
   transition: background-color 0.3s ease;
}

.watch-trailer-button:hover {
   background-color: #050000; /* black color */
}
.imdb-link {
   display: block;
   color: #1f0a85; /* dark blue color */
   margin-top: 10px;
   text-decoration: none;
   font-size: 0.9rem;
}

.imdb-link:hover {
   text-decoration: underline;
}